 <widget id="com.retailhogar100.com" version="1.0.1">
        <name>Retail Hogar 100</name>
        <description>
            Un evento exclusivo, solo con invitación.
			Para grandes compradores especialmente seleccionados.
        </description>
        <author email="apps@leocondori.com.ar" href="http://www.laboratoriodebytes.com">
            Leonardo Condori
        </author>
        <content src="index.html" />
        <access origin="*" />
		<preference name="ChildBrowser" value="disable"/>
		<preference name="Fullscreen" value="true" />
		<preference name="Orientation" value="default" />
		<preference name="DisallowOverscroll" value="true"/>
		<icon src="img/icon_grande.png" />
		<rim:splash src="img/splashok.png" />
    </widget>
